@import "variables";
@import "mixins";

.game-board {
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  height: 100vh;

  @include breakpoint-up(tablet) {
    gap: 20px;
    justify-content: center;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 24px;
    margin-bottom: 64px;

    @include breakpoint-up(tablet) {
      margin-top: 0;
      margin-bottom: 0;
    }

    .custom-logo {
      display: flex;
      justify-content: flex-start;
      cursor: pointer;
    }
  }

  &__turn-prompt {
    @include apply-heading($body);

    gap: 9px;
    padding: 9px 15px 13px;
    border-radius: 5px;
    background: $semi-dark-navy;
    box-shadow: 0px -4px 0px 0px #10212a inset;

    @include breakpoint-up(tablet) {
      gap: 13px;
      padding: 13px 30px 19px;
      border-radius: 10px;

      @include apply-heading($heading-xs);
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;

    &--restart {
      border: none;
      width: 40px;
      height: 40px;
      padding: 8px;
      border-radius: 5px;
      background-color: $silver;
      box-shadow: 0px -4px 0px 0px #6b8997 inset;
      cursor: pointer;

      @include breakpoint-up(tablet) {
        width: 52px;
        height: 52px;
        padding: 16px;
        border-radius: 10px;
      }

      &:hover {
        background-color: $silver-hover;
      }
    }
  }

  &__turn-prompt,
  &__button--restart {
    svg {
      width: 15px;
      height: 15px;

      @include breakpoint-up(tablet) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 15px;
    background-color: $semi-dark-navy;
    box-shadow: 0px -8px 0px 0px #10212a inset;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    @include breakpoint-up(tablet) {
      width: 140px;
      height: 140px;
    }

    svg {
      width: 40px;
      height: 40px;

      @include breakpoint-up(tablet) {
        width: 64px;
        height: 64px;
      }
    }

    &.played-x {
      svg {
        mask: url("../assets/icon-x.svg") no-repeat center;
        background-color: $light-blue;
        cursor: not-allowed;
      }
    }

    &.played-o {
      svg {
        mask: url("../assets/icon-o.svg") no-repeat center;
        background-color: $light-yellow;
        cursor: not-allowed;
      }
    }

    &.playing-x:hover:not(.played-x):not(.played-o) {
      background: $semi-dark-navy url("../assets/icon-x-outline.svg") no-repeat
        center;
    }

    &.playing-o:hover:not(.played-x):not(.played-o) {
      background: $semi-dark-navy url("../assets/icon-o-outline.svg") no-repeat
        center;
    }

    &.playing-x:hover:not(.played-x):not(.played-o),
    &.playing-o:hover:not(.played-x):not(.played-o) {
      background-size: 40px auto;

      @include breakpoint-up(tablet) {
        background-size: 64px auto;
      }
    }

    &.winner-x {
      background-color: $light-blue;
      svg {
        mask: url("../assets/icon-x.svg") no-repeat center;
        background-color: $semi-dark-navy;
        transition: background-color 0.3s ease-in-out;
      }
    }

    &.winner-o {
      background-color: $light-yellow;
      svg {
        mask: url("../assets/icon-o.svg") no-repeat center;
        background-color: $semi-dark-navy;
        transition: background-color 0.3s ease-in-out;
      }
    }

    &.played-x svg,
    &.played-o svg,
    &.winner-x svg,
    &.winner-o svg {
      mask-size: 40px;

      @include breakpoint-up(tablet) {
        mask-size: 64px;
      }
    }
  }

  &__scores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: $dark-navy;

    div {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      height: 64px;
      border-radius: 15px;

      @include breakpoint-up(tablet) {
        height: 72px;
      }
    }
  }

  &__player-1-score {
    background-color: $light-blue;
  }

  &__player-2-score {
    background-color: $light-yellow;
  }

  &__ties-score {
    background-color: $silver;
  }

  &__score-label {
    @include apply-heading($body-mobile);

    @include breakpoint-up(tablet) {
      @include apply-heading($body);
    }
  }

  &__score {
    @include apply-heading($heading-s);

    @include breakpoint-up(tablet) {
      @include apply-heading($heading-m);
    }
  }
}
