@import "variables";
@import "mixins";

.game-menu {
  flex-direction: column;
  gap: 40px;

  &__player-mark {
    text-align: center;
    width: 460px;
    height: 205px;
    border-radius: 15px;
    background-color: $semi-dark-navy;
    box-shadow: 0px -8px 0px 0px #10212a inset;
    flex-direction: column;
  }

  &__promt {
    @include apply-heading($heading-xs);
  }

  &__reminder {
    @include apply-heading($body);
    opacity: 0.5;
  }

  &__buttons {
    width: 412px;
    height: 72px;
    border-radius: 10px;
    background-color: $dark-navy;
    margin-bottom: 24px;
    margin-top: 17px;
  }

  &__mark-btn {
    cursor: pointer;
    width: 198px;
    height: 54px;
    border: none;

    &--x {
      background-color: $dark-navy;

      svg {
        fill: $silver;
      }
    }

    &--o {
      background-color: $silver;
      border-radius: 10px;

      svg {
        fill: $dark-navy;
      }
    }
  }

  &__start-options {
    flex-direction: column;
    gap: 20px;
  }

  &__start-btn {
    @include apply-heading($heading-s);
    width: 100%;
    height: 67px;
    border: none;
    cursor: pointer;
    padding-top: 17px;
    padding-bottom: 24px;

    &--vs-cpu {
      border-radius: 15px;
      background-color: $light-yellow;
      box-shadow: 0px -8px 0px 0px #cc8b13 inset;

      &:hover {
        background-color: $light-yellow-hover;
      }
    }

    &--vs-player {
      border-radius: 15px;
      background-color: $light-blue;
      box-shadow: 0px -8px 0px 0px #118c87 inset;

      &:hover {
        background-color: $light-blue-hover;
      }
    }
  }
}
